<%- include('partials/prof-header') -%>

<%#  comment  %>

<div class="jumbotron">
    <h1> View my projects </h1> 
</div>

<div style="text-align: center; margin-bottom: 30px; margin-top: 50px;">
   
</div>

<div class="box">
    <h6>
        <% var b = (message.length === 0 ) %>
        <p <%= b ? "hidden" : ""  %> style="color: green" > <%= message %> </p>
    </h6>
    <h2>Hi Prof. <%= username %> </h2> <br>
    <h4> Your Project list:</h4>



    <div class="container">
        <br>
        <h5  style="text-align:left" >Count = <%=project_list.length%> </h5>
        <table class="table table-striped  mytable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < project_list.length ; i++){ %>
                <tr>
                    <th scope="row"> <%= i+1 %> </th>
                    <% var project = project_list[i] %>
                    <td><%= project.project_id %></td>
                    
                    <td> <%=project.title%> </td>
                    <% var pid = project.project_id %>
                    <% var link = "/view_proj_detail/" + pid + "/student"  %>
                    <td> <%=project.description%>  </td>
                    <% var del_proj_id = project.project_id %>
                    <% var link_to_detail = "/view_proj_detail/" + del_proj_id %>
                    <% var link_to_update = "/prof_update_project/" + del_proj_id %>
                    <% var link_to_del = "/del_project/" + del_proj_id %>
                    <td><a class="btn btn-success col-7" href=<%=link_to_detail%> >Details</a></td>
                    <td><a class="btn btn-primary col-7" href=<%=link_to_update%> >Update</a></td>
                    <td><a class="btn btn-danger col-7" href=<%=link_to_del%> >Delete</a></td>
                </tr>
                <% } %>

            </tbody>

        </table>
    </div>

</div>




<%- include('partials/user-footer') -%>